{
  "semi": false,
  "trailingComma": "es5",
  "printWidth": 80,
  "tabWidth": 2,
  "jsxBracketSameLine": false,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    }
  ]
}
